    #subscribe{
        background-color: rgb(234, 23, 23);
        color: white;
        border: none;
        height: 30px;
        width: 100px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 6px;
        transition: opacity 1s;
    }
    #subscribe:hover{
        opacity: 0.6;
    }
    #subscribe:active{
        opacity: 0.1;
    }
    #join{
        background-color: white;
        border-color: rgb(11, 113, 222);
        border-style: solid;
        height: 30px;
        width: 50;
        color: rgb(11, 113, 222);
        border-radius: 2px;
        cursor: pointer;
        margin-right: 6px;
        transition: background-color 0.5s;
    }
    #join:hover{
        background-color: rgb(11, 113, 222);
        color: white;
    }
    #join:active{
        opacity: 0.3;
    }
    #tweet{
        color: white;
        background-color: rgb(11, 113, 222);
        border: none;
        height: 30px;
        width: 60px;
        border-radius: 15px;
        cursor: pointer;
        font-weight: bold;
        margin-right: 6px;
        transition: opacity 0.3s;
    }
    #tweet:hover{
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
    #tweet:active{
        opacity: 0.3;
    }
    .add{
        background-color: rgb(255, 216, 20);
        border: none;
        height: 30px;
        width: 130px;
        border-radius: 15px;
        font-weight: bold;
        cursor: pointer;      
    }
    .add:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .add:active{
        background-color: rgb(204, 173, 16);
    }
    .get{
        background-color: rgb(121, 82, 179);
        border: none;
        color: white;
        height: 30px;
        width: 130px;
        cursor: pointer;   
        border-radius: 2px;   
    }
    .get:hover{
        background-color: rgb(86, 57, 129);
    }
    .get:active{
        background-color: rgb(53, 36, 80);
    }
    .save{
        background-color: white;
        border: solid 2px rgb(10, 102, 194);
        color: rgb(10, 102, 194);
        height: 30px;
        width: 100px;
        cursor: pointer;   
        border-radius: 15px;   
    }
    .save:hover{
        background-color: rgb(10, 102, 194);
        color: white;
    }
    .save:active{
        opacity: 0.3;
        transition: 0.3s;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }